.reviews-container {
    display:flex;
    flex-direction:column;
    gap:1rem;
    align-items:center;
}

.review {
    box-sizing:border-box;
    padding:2rem;
    width:24rem;
    max-width:100%;
    min-height:12rem;
    border-radius:.5rem;
    background-color:var(--very-dark-magenta);
    display:flex;
    flex-direction:column;
    gap:2rem;
    justify-content: center;
}

.review .header {
    display:flex;
    flex-direction:row;
    gap:1rem;
    width:100%;
    align-items:center;
}

.review .header img {
    border-radius:5rem;
    max-width:3rem;
}

.review .header h3 {
    color:white;
}

.review .header p {
    color:var(--soft-pink);
}

.review > p {
    color:white;
}

@media screen and (min-width:48rem) {
    .reviews-container {
        grid-column:span 2;
        flex-direction:row;
        align-items:flex-start;
        justify-content:space-between;
    }
    .reviews-container .second {
        margin-top:1rem;
    }
    .reviews-container .third {
        margin-top:2rem;
    }
}